<div class="d-flex flex-column justify-content-center align-items-center vh-100 bg-light">
    <!-- Título -->
    <h3 class="mb-4 fw-normal text-dark">Escolha seus administradores</h3>
  
    <!-- Card central -->
    <div class="card shadow-sm border-0 p-4" style="max-width: 380px; width: 100%;">
             
      <!-- Formulário -->
      <form id="login-form">
        <div class="mb-3">
            <select name="teste" id="seinao"></select>
        </div>
        <div class="mb-3">
            <select name="teste" id="seinao"></select>
        </div>
        <button type="submit" class="btn btn-primary w-100">Próximo</button>
      </form>  
    </div>
  </div>
  