<div class="d-flex flex-column justify-content-center align-items-center vh-100 bg-light">
    <!-- Título -->
    <h3 class="mb-4 fw-normal text-dark">Escolha sua conta</h3>
  
    <!-- Card central -->
    <div class="card shadow-sm border-0 p-4" style="max-width: 380px; width: 100%;">

      <!-- Formulário -->
      <form id="login-form">
        <div class="mb-3">
          <input 
            type="password" 
            id="senha" 
            class="form-control" 
            placeholder="Escolha sua senha"            
            required
          >
        </div>
        <div class="mb-3">
          <input 
            type="password" 
            id="confirmar_senha" 
            class="form-control" 
            placeholder="Confirme a senha" 
            required
          >
        </div>
        <button type="submit" class="btn btn-primary w-100">Próximo</button>
      </form>  
    </div>
  </div>
  