<div class="d-flex flex-column justify-content-center align-items-center vh-100 bg-light">
    <!-- Título -->
    <h3 class="mb-4 fw-normal text-dark">Bem vindo, crie sua conta escolar</h3>
  
    <!-- Card central -->
    <div class="card shadow-sm border-0 p-4" style="max-width: 380px; width: 100%;">
        
      <!-- Formulário -->
      <form id="login-form">
        <div class="mb-3">
          <input 
            type="text" 
            id="nome_admin" 
            class="form-control" 
            placeholder="Nome do Admin" 
            required
          >
        </div>
        <div class="mb-3">
            <input 
              type="text" 
              id="nome_escola" 
              class="form-control" 
              placeholder="Nome da escola" 
              required
            >
          </div>
        <div class="mb-3">
          <input 
            type="text" 
            id="email_escolar" 
            class="form-control" 
            placeholder="Email escolar" 
            required
          >
        </div>
        <button type="submit" class="btn btn-primary w-100">Próximo</button>
      </form>
  
      <!-- Link de cadastro -->
      <p class="text-center mt-3 mb-0 small">
        Já possui uma conta? <a href="#criar-conta" class="text-primary text-decoration-none">Entre</a>
      </p>
    </div>
  </div>
  